<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Joshua Burger", "https://jburger69.github.io/Portfolio/", class: "text-white" %></small>
  </div>
</footer>